<div>
<h1>Beer Bucket List</h1>
<h2>Life is too short to drink the same beer twice.</h2>
<h3>Check out our beer and brewing collection athat wil leave you in stitches!</h3>


<a href="/beers">Check all Beers!</a>
<a href="/random-beer">Check a Random Beer!</a>

</div>