
<div class="jumbotron" class="herostage" class="body">
  <h1 class="display-4">Beer Bucket List</h1>
  <p class="lead">Life is too short to drink the same beer twice.</p>
  <hr class="my-4">
  <p>Check out our beer and brewing collection athat wil leave you in stitches!</p>
  <a class="btn btn-primary btn-lg" href="/beers" role="button">Check all Beers!</a>
    <a class="btn btn-primary btn-lg" href="/random-beer" role="button">Check a Random Beer!</a>
</div>